<h1>Login</h1>

<%= form_with scope: :session, url: login_path do |f| %>
 
<div>
  <%= f.label :email %><br/>
  <%= f.email_field :email%>
</div>

<div>
  <%= f.label :password %><br/>
  <%= f.password_field :password%>
</div>

<div>
  <%= f.submit "Submit" %>
</div>

<% end %>

<p>New user? <%= link_to "Sign up here", signup_path %></p>