<h1>Entrar</h1>

<%= form_with scope: :session, url: login_path do |f| %>
 
<div>
  <%= f.label :email, "Email" %><br/>
  <%= f.email_field :email%>
</div>

<div>
  <%= f.label :password, "Senha" %><br/>
  <%= f.password_field :password%>
</div>

<div>
  <%= f.submit "Confirmar" %>
</div>

<% end %>

<p>Novo usuário? <%= link_to "Registre-se aqui", signup_path %></p>