<h1>Cadastro</h1>

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "erro") %> impedem que o cadastro seja realizado:</h2>
    
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_with scope: :user, url: '/signup', local: true do |form| %>
    <p>
        <%= form.label :name, "Nome" %><br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :email, "Email" %><br>
        <%= form.email_field :email %>
    </p>

    <p>
        <%= form.label :password, "Senha" %><br>
        <%= form.password_field :password %>
    </p>

    <p>
        <%= form.label :password_confirmation, "Confirmação da senha" %><br>
        <%= form.password_field :password_confirmation %>
    </p>

    <p>
        <%= form.label :birth_date, "Data de nascimento" %><br>
        <%= form.date_field :birth_date %>
    </p>

    <p>
        <%= form.label :position, "Posição do jogador" %><br>
        <%= form.select :position, options_for_select(['Point Guard', 'Shooting Guard', 'Small Forward', 'Power Forward', 'Center'])%>
    </p>

    <p>
        <%= form.submit 'Salvar' %>
    </p>

    <p>Já possui uma conta? <%= link_to 'Entre aqui', login_path %>
<% end %>