<h1>Cadastro</h1>
<%= form_with model: @user do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
    </p>

    <p>
        <%= form.label :password %><br>
        <%= form.text_field :password %>
    </p>

    <p>
        <%= form.label :passwordConfirmation %><br>
        <%= form.text_field :passwordConfirmation %>
    </p>

    <p>
        <%= form.label :birthDate %><br>
        <%= form.text_field :birthDate %>
    </p>

    <p>
        <%= form.label :position %><br>
        <%= form.text_field :position %>
    </p>

    <p>
        <%= form.submit 'Salvar novo aluno' %>
    </p>
<% end %>