<h1>Cadastro</h1>

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "erro") %> impedem que o cadastro seja realizado:</h2>
    
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_with scope: :user, url: '/signup', local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
    
    <p>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
    </p>

    <p>
        <%= form.label :password %><br>
        <%= form.password_field :password %>
    </p>

    <p>
        <%= form.label :password_confirmation %><br>
        <%= form.password_field :password_confirmation %>
    </p>

    <p>
        <%= form.label :birth_date %><br>
        <%= form.date_field :birth_date %>
    </p>

    <p>
        <%= form.label :position %><br>
        <%= form.text_field :position %>
    </p>

    <p>
        <%= form.submit 'Salvar' %>
    </p>

    <p>Already registered? <%= link_to 'Login', login_path %>
<% end %>