<h1>Olá, <%= @user.name %></h1>

<h2>Minhas partidas</h2>
 <section>
  <% if @user.owned_matches.present? %>
    <% @user.owned_matches.each do |m| %>
      <article>
        <h3><%= m.name %></h3>
        <p><b>Endereço: </b><%= m.address %></p>
        <p><b>Descrição: </b><%= m.description %></p>
        <%= link_to "Ver mais", match_path(m.id), id: "view-#{m.id}"%><br>
        <%= link_to "Editar partida", edit_match_path(m.id)%><br>
        <%= link_to "Deletar partida", match_path(m.id), :id => "remove_#{m.id}", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Confirmar deleção?"
                  } %><br><br>
      </article>
    <% end %>  
  <% else %>
    <p>Você ainda não criou uma partida.</p>
  <% end %>
 </section>