<section>
  <h1>Partidas</h1>
  <%= link_to "Criar nova partida", new_match_path %>
  <hr>
</section>
<section>
  <h2>Buscar partida</h2>
  <%= render "matches/search" %>
</section>
 <section>
  <h3 style="display: none;">Resultados da pesquisa</h3>
  <% if @matches.present? %>
    <% @matches.each do |m| %>
      <article>
        <h4><%= link_to m.name, match_path(m.id) %></h4>
        <p><b>Endereço: </b><%= m.address %></p>
        <p><b>Descrição: </b><%= m.description %></p>
        <%= link_to "Ver mais", match_path(m.id), id: "view-#{m.id}"%><br><br>
      </article>
    <% end %>  
  <% else %>
    <% if params[:search].present? %>
      <p>Não foram encontradas partidas com esse nome ou endereço.</p>
    <% else %>
      <p>Não há partidas criadas.</p>
    <% end %>
  <% end %>
 </section>