<section>
  <h1>Matches</h1>
  <%= link_to "New match", new_match_path %>
  <hr>
</section>
<section>
  <h2>Search</h2>
  <%= form_tag(matches_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag(:search, params[:search], placeholder: "Name or address")%>
    <%= submit_tag ("Search") %>
  <% end %>
</section>
 <section>
  <% if @matches.present? %>
    <% @matches.each do |m| %>
      <article>
        <h3><%= m.name %></h3>
        <p><b>Address: </b><%= m.address %></p>
        <p><b>Description: </b><%= m.description %></p>
        <%= link_to "View more", match_path(m.id), id: "view-#{m.id}"%><br><br>
      </article>
    <% end %>  
  <% else %>
    <% if params[:search].present? %>
      <p>Match(es) not found.</p>
    <% else %>
      <p>There are no matches.</p>
    <% end %>
  <% end %>
 </section>