<div>
  <h1>Matches</h1>
  <table>
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Private Court</th>
      <th>Limit</th>
      <th>Half Court</th>
      <th>Level</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td><%= match.name %></td>
          <td><%= match.description %></td>
          <td><%= match.address %></td>
          <td><%= match.privateCourt %></td>
          <td><%= match.limit %></td>
          <td><%= match.halfCourt %></td>
          <td><%= match.level %></td>
          <td><%= link_to 'View', match, id: "view-#{match.id}" %></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
  <span><%= link_to 'Create new match', new_match_path %></span>
</div>




