<% if @match.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@match.errors.count, "erro") %> <%= pluralize(@match.errors.count, "impede") %> que a partida sejam gravados no banco de dados:</h2>
    <ul>
    <% @match.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @match  do |form| %>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.label :address %>
    <%= form.text_field :address %>
    <%= form.label :privateCourt %>
    <%= form.check_box :privateCourt %>
    <%= form.label :limit %>
    <%= form.text_field :limit %>
    <%= form.label :halfCourt %>
    <%= form.check_box :halfCourt %>
    <%= form.label :level %>
    <%= form.text_field :level %>
    <%= form.submit 'Salvar'%>
<% end %>