 <% @matches.each do |m| %>
    <p><%= m.name %></p>
    <p><%= m.description %></p>
    <p><%= m.address %></p>
    <p><%= m.privateCourt %></p>
    <p><%= m.limit %></p>
    <p><%= m.halfCourt %></p>
    <p><%= m.level %></p>
<% end %>  
