<h1>Match <%= params[:id] %></h1>
<section>
  <p><strong>Name:</strong> <%= @match.name %></p>
  <p><strong>Description:</strong> <%= @match.description %></p>
  <p><strong>Address:</strong> <%= @match.address %></p>
  <p><strong>Limit:</strong> <%= @match.limit %></p>
  <p><strong>Private court:</strong> <%= @match.privateCourt %></p>
  <p><strong>Half court:</strong> <%= @match.halfCourt %></p>
  <p><strong>Level:</strong> <%= @match.level %></p>
  <p><strong>Starts at:</strong> <%= @match.starts_at %></p>

  <%= form_with url: "/create_participate_in_match", scope: :participate_in_match, model: @participate_in_match  do |form| %>    
    <% if logged_in? %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.hidden_field :match_id, :value => params[:id] %>
    <% end %>
    <%= form.submit 'Participar'%>
  <% end %>
  <p>Participantes</p>
  <% @match.users.each do |m| %>
    <%= m.name %>
  <% end %> 
</section>
