<h1>Match <%= params[:id] %></h1>
<section>
  <p><strong>Name:</strong> <%= @match.name %></p>
  <p><strong>Description:</strong> <%= @match.description %></p>
  <p><strong>Address:</strong> <%= @match.address %></p>
  <p><strong>Limit:</strong> <%= @match.limit %></p>
  <p><strong>Private court:</strong> <%= @match.privateCourt %></p>
  <p><strong>Half court:</strong> <%= @match.halfCourt %></p>
  <p><strong>Level:</strong> <%= @match.level %></p>
</section>
