<h1><%= @match.name %></h1>
<section>
  <p><strong>Descrição:</strong> <%= @match.description %></p>
  <p><strong>Endereço:</strong> <%= @match.address %></p>
  <p><strong>Limite de participantes:</strong> <%= @match.limit %></p>
  <p><strong>Quadra privada:</strong> <%= @match.privateCourt %></p>
  <p><strong>Meia quadra:</strong> <%= @match.halfCourt %></p>
  <p><strong>Nível:</strong> <%= @match.level %></p>
  <p><strong>Inicia-se:</strong> <%= @match.starts_at %></p>

  <%= form_with url: "/create_participate_in_match", scope: :participate_in_match, model: @participate_in_match  do |form| %>    
    <% if logged_in? %>
      <%= form.hidden_field :user_id, :value => current_user.id %>
      <%= form.hidden_field :match_id, :value => params[:id] %>
    <% end %>
    <%= form.submit 'Participar'%>
  <% end %>
  <p>Participantes</p>
  <ul>
    <% @match.users.each do |user| %>
      <li><%= user.name %> - <%= user.position %></li>
    <% end %> 
  </ul>
</section>
