<h1><%= @match.name %></h1>
<section>
  <% if @match.privateMatch %>
    <p><strong>Partida privada</strong></p>
  <% end %>
 
  <p><strong>Descrição:</strong> <%= @match.description %></p>

  <% if @match.privateMatch && @join_button_on %>
    <%= form_with url: "/create_participate_in_match", scope: :participate_in_match, model: @participate_in_match  do |form| %>    
      <% if logged_in? %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <% if params["participate_in_match"].present? %>
          <%= form.hidden_field :match_id, :value => params["participate_in_match"]['match_id'] %>
        <% else %>
          <%= form.hidden_field :match_id, :value => params[:id] %>
        <% end %>
      <% end %>
      <%= form.label :privateMatchPassword, "Senha para partida privada" %>
      <%= form.password_field :privateMatchPassword %>
      <%= form.submit 'Participar'%>  
      <% if @msg.present? %>
        <p><strong><%= @msg %></p></strong>
      <% end %>    
    <% end %>
  <% else %> 
    <p><strong>Endereço:</strong> <%= @match.address %></p>
    <p><strong>Limite de participantes:</strong> <%= @match.limit %></p>
    <p><strong>Quadra privada:</strong> <%= @match.privateCourt %></p>
    <p><strong>Meia quadra:</strong> <%= @match.halfCourt %></p>
    <p><strong>Nível:</strong> <%= @match.level %></p>
    <p><strong>Inicia-se:</strong> <%= @match.starts_at %></p>

    <hr/>

  <%# <p><strong>Não é possível entrar nesta sala. O limite de participantes foi atingido!</strong></p> %>
  <%= form_with url: "/create_participate_in_match", scope: :participate_in_match, model: @participate_in_match  do |form| %>    
      <% if logged_in? %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
        <%= form.hidden_field :match_id, :value => params[:id] %>
      <% end %>
      <% if @join_button_on %>
        <% if @full_match %>
        <p><strong>Não é possível entrar nesta sala. O limite de participantes foi atingido!</strong></p> 
      <% else %>
        <%= form.submit 'Participar'%>
        <% end %>
    <% else %>
        <%= form.submit 'Sair da Partida'%>      
      <% end %>
    <% end %>
  <% end %>

  <p>Participantes</p>
  <ul>
    <% @match.users.each do |user| %>
        <li id="">
          <%= user.name %> - <%= user.position %>
          <% if @can_kick_players %>
            <% if @user.id != user.id %>
              <%= form_with url: kick_player_path, :html => { :style => 'display: inline-block;' } do |form| %>    
                <% if logged_in? %>
                  <%= form.hidden_field :user_id, :value => current_user.id %>
                  <%= form.hidden_field :match_id, :value => params[:id] %>
                  <%= form.hidden_field :player_id, :value => user.id %>
                <% end %>
                <%= form.submit 'Expulsar participante'%>
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %> 
  </ul>

  <% if !@full_match %>
    <button id="copy-to-clipboard">Compartilhar partida</button>
    <span id="tooltip" style="display: none">URL da partida copiada! Envie para seus amigos.</span>
  <% end %>
</section>

