<h1>Match <%= params[:id] %></h1>
<section>
  <p><strong>Name:</strong> <%= @match.name %></p>
  <p><strong>Description:</strong> <%= @match.description %></p>
  <p><strong>Address:</strong> <%= @match.address %></p>
  <p><strong>Limit:</strong> <%= @match.limit %></p>
  <p><strong>Private quort:</strong> <%= @match.private_quort %></p>
  <p><strong>Half quort:</strong> <%= @match.half_quort %></p>
  <p><strong>Level:</strong> <%= @match.level %></p>
</section>